:root {
  --color: rgb(32, 48, 54);
  --background-color: rgb(248,244,240);
  --stroke-color: rgba(12,8,4,.33);
  --shadow-color: rgba(12,8,4,.15);

  --primary-color: #42a5f5;
  --secondary-color: #ba68c8;
  --error-color: #ef5350;
  --warning-color: #ff9800;
  --info-color: #03a9f4;
  --success-color: #4caf50;
  --emphasized-color: #92a2b2;

  /* Gradient colors */ 
  --purple-gradient: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
  --red-gradient: linear-gradient(220.55deg, #FF896D 0%, #D02020 100%);
  --blue-gradient: linear-gradient(220.55deg, #3793FF 0%, #0017E4 100%);
  --orange-gradient: linear-gradient(220.55deg, #FFD439 0%, #FF7A00 100%);
  --teal-gradient: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%);
  --gray-gradient: linear-gradient(220.55deg, #EAEAEA 0%, #8B8B8B 100%);
  --black-gradient: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  --yellow-gradient: linear-gradient(220.55deg, #FFF500 0%, #FFB800 100%);
  --cozy-gradient: linear-gradient(220.55deg, #FF8570 0%, #ff8bf3 100%);
  --green-gradient: linear-gradient(220.55deg, #00B960 0%, #00552C 100%);
  --midnight-gradient: linear-gradient(220.55deg, #00E0EE 0%, #A060EE 100%);
  --fizzy-gradient: linear-gradient(220.55deg, #FF8570 0%, #418CB7 100%);
  --fizzy-light-gradient: linear-gradient(220.55deg, #89c6ff 0%, #ff8bf3 100%);



  --vital-ocean: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  --kale-salad: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  --disco-club: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  --shady-lane: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
  --retro-wagon: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  --fresco-crush: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  --cucumber-water: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  --sea-salt: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --par-four: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  --ooey-gooey: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  --bloody-mimosa: linear-gradient(90deg, #daae51 0%, #d53369 100%);
  --lovely-lily: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  --aqua-spray: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  --mello-yellow: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  --dusty-cactus: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  --sexy-sandal: linear-gradient(90deg, #FC466B 0%, #FC466B 100%);

  --section-radius: 12px;
  --large-radius: 8px;
  --small-radius: 4px;
}